.custom-select {
  border: 1px solid #ccc;
  position: relative;
}

.custom-select.error {
  border: 1px solid red;
}

.custom-select.required-label::after {
  content: " *";
  color: red;
  position: absolute;
  top: 0;
  right: -15px;
}
